.join-org-form {
  width: 70%;
  height: 400px;
  padding: 20px 10px;
  border: 2px double @form-border;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background: url( <ion-icon name="search"></ion-icon>) no-repeat scroll 7px 7px;
    padding-left: 30px;
  }
}

.join-org-form>* {
  margin: 7px;
}