.container-home-landing{
    width:1000px;
}

.navbar{
    text-decoration: none;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3% 0% 0% 0% 0%;
    border: 2px solid red;
}

.image-banner{
    max-width:50%;
    width: 100%;
}

#main-logo img{
max-width: 15%;
}

#training-pic{
    max-width: 15%;
}

#business-pic{
    max-width: 15%;
}

#loan-pic{
    max-width: 15%;
}

.header {
    background-image: url(../img/welcome.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
   }