.container-home-landing{
    width:1000px;
}

.navbar{
    text-decoration: none;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3% 0% 0% 0% 0%;
}

.image-banner{
    max-width:50%;
    width: 100%;
}

.logo{
    background-image: "img/logo.jpg";
    max-width: 900px;
}

#page-welcome {
    background-image: "img/welcome.jpg"
}